requests
python-dotenv
ebaysdk
# Pin to commit including auth improvements: retry/backoff, TokenStatus, exception handling
# See: https://github.com/sburl/eBayAPIHelpers/tree/4091854
shared_ebay @ git+https://github.com/sburl/eBayAPIHelpers.git@4091854
